@model NPGeek.Web.Models.ParkModel
@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">
    <img id="main-park" src="~/Content/@(Model.ParkCode.ToLower()).jpg">
    <h2>@Model.ParkName (@Model.ParkCode)</h2>

    <ul class="detail-fields">
        <li>Location:</li>
        <li>Acreage:</li>
        <li>Elevation In Feet:</li>
        <li>Miles of Trails: </li>
        <li>Number of Campsites:</li>
        <li>Climate:</li>
        <li>Founded:</li>
        <li>Annual Visitors:</li>
        <li>Entry Fee:</li>
        <li>Number of Animal Species:</li>
        <li>Inspirational Quote:</li>
        <li>Quote Source:</li>
        <li>Description:</li>

    </ul>

    <ul class="detail-descriptions">
        <li>@Model.State</li>
        <li>@Model.Acreage</li>
        <li>@Model.ElevationInFeet</li>
        <li>@Model.MilesOfTrail</li>
        <li>@Model.NumberOfCampsites</li>
        <li>@Model.Climate</li>
        <li>@Model.YearFounded</li>
        <li>@Model.EntryFee</li>
        <li>@Model.NumberOfSpecies</li>
        <li>@Model.AnnualVisitorCount</li>
        <li>@Model.InspirationalQuote</li>
        <li>@Model.QuoteSource</li>
        <li>@Model.ParkDescription</li>

    </ul>


    @Html.Action("PartialWeather")
</section>
