@model NPGeek.Web.Models.ParkModel
@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">
    <img id="main-park" src="~/Content/@(Model.ParkCode.ToLower()).jpg">
    <h2>@Model.ParkName (@Model.ParkCode)</h2>

    <ul class="detail-fields">
        <li>Location: @Model.State</li>
        <li>Acreage: @Model.Acreage</li>
        <li>Elevation In Feet: @Model.ElevationInFeet</li>
        <li>Miles of Trails: @Model.MilesOfTrail</li>
        <li>Number of Campsites: @Model.NumberOfCampsites</li>
        <li>Climate: @Model.Climate</li>
        <li>Founded:@Model.YearFounded</li>
        <li>Annual Visitors: @Model.EntryFee</li>
        <li>Entry Fee:@Model.NumberOfSpecies</li>
        <li>Number of Animal Species: @Model.AnnualVisitorCount</li>
        <li>Inspirational Quote: @Model.InspirationalQuote</li>
        <li>Quote Source: @Model.QuoteSource</li>
        <li>Description:@Model.ParkDescription</li>

    </ul>


    @Html.Action("PartialWeather")
</section>
