@model NPGeek.Web.Models.ParkModel
@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">
    <img id="main-park" src="~/Content/@(Model.ParkCode.ToLower()).jpg">
    <h2>@Model.ParkName (@Model.ParkCode)</h2>

    <ul class="detail-fields">
        <li>Location: @Model.State</li>
        <li>Acreage: @Model.Acreage</li>
        <li>Elevation In Feet: @Model.ElevationInFeet</li>
        <li>Miles of Trails: @Model.MilesOfTrail</li>
        <li>Number of Campsites: @Model.NumberOfCampsites</li>
        <li>Climate: @Model.Climate</li>
        <li>Founded:@Model.YearFounded</li>
        <li>Annual Visitors: @Model.EntryFee</li>
        <li>Entry Fee:@Model.NumberOfSpecies</li>
        <li>Number of Animal Species: @Model.AnnualVisitorCount</li>
        <li>Inspirational Quote: @Model.InspirationalQuote</li>
        <li>Quote Source: @Model.QuoteSource</li>
        <li>Description:@Model.ParkDescription</li>

    </ul>


    @if (Session["Partial_Weather"] == null)
    {

        <form action="@Url.Action("ParkDetail", "Detail")" method="post">
            <input type="hidden" name="sessionC" value="PartialWeather" />
            <button name="celsius">View in Celsius</button>
        </form>
        @Html.Action("PartialWeatherF");
    }
    else
    {
        <form action="@Url.Action("ParkDetail", "Detail")" method="post">
            <input type="hidden" name="sessionF" value="PartialWeatherF">
            <button name="fahrenheit">View in Fahrenheit</button>
        </form>
        @Html.Action("PartialWeather");
    }


    @if (Session["Partial_Weather"] == null)
    {
        @Html.Action("PartialWeatherF");
    }
    else
    {
        @Html.Action("PartialWeather");
    }



</section>
