@model NPGeek.Web.Models.TempChoiceModel
@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">
    <img id="main-park" src="~/Content/@(Model.ParkTempModel.ParkCode.ToLower()).jpg">
    <h2>@Model.ParkTempModel.ParkName (@Model.ParkTempModel.ParkCode)</h2>

    <ul id="quote-info">
        <li id="quote">"@Model.ParkTempModel.InspirationalQuote"</li>
        <li id="quote-source">-@Model.ParkTempModel.QuoteSource</li>
    </ul>
    <ul class="detail-fields">
        <li><strong>Location:</strong> @Model.ParkTempModel.State</li>
        <li><strong>Acreage:</strong> @Model.ParkTempModel.Acreage</li>
        <li><strong>Elevation In Feet:</strong> @Model.ParkTempModel.ElevationInFeet</li>
        <li><strong>Miles of Trails:</strong> @Model.ParkTempModel.MilesOfTrail</li>
        <li><strong>Number of Campsites:</strong> @Model.ParkTempModel.NumberOfCampsites</li>
        <li><strong>Climate:</strong> @Model.ParkTempModel.Climate</li>
        <li><strong>Founded:</strong> @Model.ParkTempModel.YearFounded</li>
        <li><strong>Entry Fee:</strong> @Model.ParkTempModel.EntryFee</li>
        <li><strong>Number of Animal Species:</strong> @Model.ParkTempModel.NumberOfSpecies</li>
        <li><strong>Annual Visitors:</strong> @Model.ParkTempModel.AnnualVisitorCount</li>
        <li><img id="backpack" src="~/Content/backpack.png" /></li>
        <li><strong>Description:</strong> </li>
        <li>@Model.ParkTempModel.ParkDescription</li>

    </ul>

    @*@if (Session["Partial_Weather"] == null)
             {

                 <form action="@Url.Action("ParkDetail", "Detail")" method="post">
                     <input type="hidden" name="sessionC" value="PartialWeather" />
                     <button name="celsius">View in Celsius</button>
                 </form>
                 @Html.Action("PartialWeatherF");
             }
             else
             {
                 <form action="@Url.Action("ParkDetail", "Detail")" method="post">
                     <input type="hidden" name="sessionF" value="PartialWeatherF">
                     <button name="fahrenheit">View in Fahrenheit</button>
                 </form>
                 @Html.Action("PartialWeather");
        }
          }*@

    <form action="@Url.Action("ParkDetail", "Detail")" method="post">
        <input type="hidden" name="session" value="PartialWeather">
        <label for="tempChoice">Select Temperature</label>
        <select name="tempChoice">
            <option value="Celcius">Celcius</option>
            <option value="Fahrenheit">Fahrenheit</option>
        </select>
        <button>GO!</button>
    </form>
    

    @if ((Model.TempChoice != null) && (Model.TempChoice == "Fahrenheit"))
    {
        @Html.Action("PartialWeather", new { id = Model.ParkTempModel.ParkCode });

    }
    else
    {
        @Html.Action("PartialWeatherF", new { id = Model.ParkTempModel.ParkCode });
    }



</section>
