@model NPGeek.Web.Models.SurveyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="@Url.Action("SurveyResult", "Survey")">

    @Html.TextBoxFor(x => x.ParkName, new { placeholder = "Enter a park name" })
    @Html.TextBoxFor(x => x.Email, new { placeholder = "Enter your e-mail" })
    @Html.TextBoxFor(x => x.State, new { placeholder = "Enter your State of Residence" })
    @Html.TextBoxFor(x => x.ActivityLevel, new { placeholder = "Enter your activity level" })

    <button>Submit Survey</button>

</form>