@model NPGeek.Web.Models.SurveyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form action="@Url.Action("SurveyView")" method="post">
        <div id="choose-park">
            <p>Choose Park:</p>
        </div>
        <div class="form-group">
            <select id="parkCode-dropdown" name="parkCode" class="form-control">

                @foreach (var park in Model.Parks)
        {
            <option value="@park.ParkCode">@park.ParkName</option>
}

            </select>
        </div>
        <div class="center-block email form-group">
            @Html.TextBoxFor(x => x.Email, new { placeholder = "Enter your e-mail", @class = "form-control" })
        </div>
        <div class="center-block state form-group">
            @Html.TextBoxFor(x => x.State, new { placeholder = "State of Residence", @class = "form-control" })
        </div>
        <div id="activity" class="form-group">
            <p>Activity Level:</p>
        </div>
        <div class="center-block activity form-group">
            <select id="activity-dropdown" name="ActivityLevel" class="form-control">
                <option value="@Model.ActivityLevel">Inactive</option>
                <option value="@Model.ActivityLevel">Sedentary</option>
                <option value="@Model.ActivityLevel">Active</option>
                <option value="@Model.ActivityLevel">Extremely Active</option>
            </select>
        </div>
        <button class="btn btn-primary">Submit Survey</button>
    </form>
</div>